*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #958efb, #1b00a4);
    padding: 10px;
}

.fazer{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 60px;
    border-radius: 10px;
}

.fazer h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.fazer h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(221, 221, 221);
    border-radius: 30px;
    padding-left: 30px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #2a1aff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    transition: background 1s;
}

button:hover{
    background-color: rgb(143, 27, 159);;
}

ul li{
    list-style: none;
    font-size: 16px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    transition: background 7ms;
    border-radius: 40px;
}

ul li:hover{
    background-color: rgb(165, 163, 163);
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 9px;
    left: 8px;
}

ul li.checked{
    color: red;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right:0;
    top: 0px;
    width: 40px;
    height: 45px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
}

ul li span:hover{
    background: rgb(221, 221, 221);
}